extends layout 
block content 

  h1.title=title
  a(href=category._id + '/update') Update this category
  if !items.length
    a(href=category._id + '/delete') Delete this category

  ul.item-list
    each item in items
      li.item
        a(href=item.url).item-title #{item.manufacturer} #{item.name}
        p.item-description #{item.description}
        p.item-price $#{item.price} 
        p.item-qty #{item.quantity} left in stock
    else 
      li There are none