extends layout 

block content 

  h1.title #{title} item
  if errors 
    ul 
      for error in errors 
        li!=error.msg

  form(method='POST' action='' enctype='multipart/form-data').form
    input#manufacturer(type='text' required='true' name='manufacturer' value=(undefined===item ? '' : item.manufacturer) placeholder='Manufacturer')
    input#name(type='text' required='true' name='name' value=(undefined===item ? '' : item.name) placeholder='name')
    textarea#description(required='true' name='description' placeholder='Description') #{undefined===item ? '' : item.description}
    select#category(type='select' placeholder='Select category' name='category' required='true')
      for category in categories
        if item 
          option(value=category._id 
          selected=(
            category._id.toString() == item.category._id
            || category._id.toString() == item.category
            ) ? 'selected' : false
            ) #{category.name}
        else
          option(value=category._id) #{category.name}
    label#price(for='price') Price
    input#price(type='number' required='true' name='price' value=(undefined===item ? '' : item.price))
    label#quantity(for='quantity') Qty
    input#quantity(type='number' required='true' name='quantity' value=(undefined===item ? '' : item.quantity))
    input#image(type='file' name='uploaded_file')
    button.primary-btn(type='submit') #{title} item