extends layout

block content
  div.item-index
    h1.title=title

    ul.item-list
      each item in item_list
        li.item
          div.item-text
            a(href=item.url).item-title #{item.manufacturer} #{item.name}
            p.item-description #{item.description}
            a(href=item.category.url) #{item.category.name}
            p.item-price $#{item.price} 
            p.item-qty #{item.quantity} left in stock
          div.item-image-box
            if item.image !== undefined
              image(src='./images/' + item.image).item-image
            else 
              p placeholder
      else 
        li There are none